@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/plus-jakarta-sans-latin-200-normal.woff2")
		format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/plus-jakarta-sans-latin-300-normal.woff2")
		format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/plus-jakarta-sans-latin-600-normal.woff2")
		format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/plus-jakarta-sans-latin-800-normal.woff2")
		format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Ubuntu", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #1c1f22;
	color: white;
}

main {
	flex-grow: 1;
}
